<div id="form">
    <input v-model="message"><br>
    <button v-on:click="reverseMessage">Reverse Message</button>
    <button v-on:click="clearMessage">Clear Message</button>
    <p>{{ message }}</p>
</div>

<%= javascript_pack_tag 'hello_vue' %>
